.trip-destinations .trip-items .img-item{
    width: 100%;
    height: 360px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.trip-destinations .trip-items .item.tokyo{
    margin-bottom: 40px;
}
.trip-destinations .trip-items .item.tokyo .img-item{
    background-image: url(../img/destiny-img/destiny-tokyo.png);
}
.trip-destinations .trip-items .item.osaka .img-item{
    background-image: url(../img/destiny-img/destiny-osaka.png);
}
.trip-destinations .trip-items .content-title{
    margin: 24px 0 24px;
}
.trip-destinations .trip-items .content-text{
    margin-bottom:24px;
}
.trip-destinations .trip-items footer .button{
    min-width: 312px;
    height: 64px;
    color: var(--text-secondary-color);
    font-weight: var(--title-weight);
    font-size: 20px;
    background-color: var(--secondary-color);
    border-radius: 8px;
    display: inline-block;
    text-decoration: none;
    line-height: 64px;
    text-align: center
}

@media screen and (min-width: 768px){
    .trip-destinations{
        margin-bottom: 88px;
    }

    .trip-destinations .trip-items .img-item{
        height: 452px;
    }

    .trip-destinations .trip-items footer .button{
        min-width: 280px;
    }

    .trip-destinations .trip-items .item.tokyo .img-item{
        background-image: url(../img/destiny-img/destiny-tokyo-tablet.jpg);
    }

    .trip-destinations .trip-items .item.osaka .img-item{
        background-image: url(../img/destiny-img/destiny-osaka-tablet.jpg);
    }
}

@media screen and (min-width: 1440px){
    .trip-destinations .trip-items{
        display: flex;
        gap: 24px;
    }

    .trip-destinations .trip-items .item{
        width: calc(50% - 12px);
    }

    .trip-destinations .trip-items .item.tokyo{
        margin-bottom: 0;
    }

    .trip-destinations .trip-items .item.tokyo .img-item{
        background-image: url(../img/destiny-img/destiny-tokyo-desktop.png);
    }

    .trip-destinations .trip-items .item.osaka .img-item{
        background-image: url(../img/destiny-img/destiny-osaka-desktop.png);
    }
}
