.destinations-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.destinations .item .img-item{
    width: 100%;
    height: 368px;
}

.destinations .item.tokyo .img-item{
    background: url(../img/tokyo-mobile.png);
    background-size: cover;
}

.destinations .item.osaka .img-item{
    background: url(../img/osaka-mobile.png);
    background-size: cover;
}

.destinations .item header h3{
    margin: 24px 0;
}

.destinations .item p{
    margin-bottom: 24px;
}
.destinations .item footer {
    margin-top: auto;
}
.destinations .button{
    width: 100%;
}

@media screen and (min-width: 768px){
    .destinations{
        width: 648px;
}
    .destinations .item .img-item{
        width: 100%;
        height: 452px;
    }

    .destinations .item.tokyo .img-item{
        background-image: url('../img/tokyo-tablet-desk.png');
        background-size: cover;
}

    .destinations .item.osaka .img-item {
        background-image: url('../img/osaka-tablet-desk.png');
        background-size: cover;
}
.destinations .destionations-items .content-text{
    line-height: 32px;
}
}

@media screen and (min-width: 1024px){
    .destinations {    
        width: 900px;
}

    .destinations .item .img-item{
        width: 100%;
        height: 452px;
    }
}

@media screen and (min-width: 1440px){
    .destinations{
        width: 1200px;
    }    
    .destinations-items{
        flex-direction: row;
        align-items: stretch;
    }
    .destinations .item .img-item{
        background-position: center;
        background-repeat: no-repeat;
    }
    .destinations .destionations-items .content-text{
        width: 540px;
        min-height: 128px;
        text-align: center;
        line-height: 32px
    }
}
