
.payments .image-gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 460px;
    gap: 24px;
    margin-top: 24px;
    width: 100%;
}

.payments .content-container .image-gallery .image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.payments .content-container .image-gallery .image.first {
    background-image: url(../img/grid-bag.png);
}
.payments .content-container .image-gallery .image.second {
    background-image: url(../img/grid-passport.png);
}
.payments .content-container .image-gallery .image.third {
    background-image: url(../img/grid-people.png);
}
.payments .content-container .image-gallery .image.third.colspan-2{
    grid-column: span 2;
}

@media screen and (min-width: 768px) {
.payments .content-container .image-gallery .image.first {
    background-image: url(../img/grid-bag-tablet.png);
}
.payments .content-container .image-gallery .image.second {
    background-image: url(../img/grid-passport-tablet.png);
}
.payments .content-container .image-gallery .image.third {
    background-image: url(../img/grid-people-tablet.png);
}
.payments .content-container .image-gallery .image.third.colspan-2{
    grid-column: span 2;
}
}

@media screen and (min-width: 1440px) {
    .payments .content-container{
    justify-content: space-between;
    display: flex;
}
    .payments .content-container .text-content{
    width: 360px;
}
    .payments .content-container .image-gallery{
    width: 790px;
    margin: 0;
}
}