
.payments .image-gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 460px;
    gap: 24px;
    margin-top: 24px;
}
.payments .image-gallery .image.first {
    background-image: url(../img/grid-bag.png) no-repeat;
    background-size: cover;
}
.payments .image-gallery .image.second {
    background-image: url(../img/grid-passport.png) no-repeat;
    background-size: cover;
}
.payments .image-gallery .image.third {
    background-image: url(../img/grid-people.png) no-repeat;
    background-size: cover;
}
.payments .image-gallery .image.third.colspan-2{
    grid-area: span 2;
}

